body {
    font-family: Arial, sans-serif;
    background-color: #fce4f9;
    color: #232222;

    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    display: flex;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #ec407a; 
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ec407a; 
    font-size: 16px;
}

button {
    background-color: #ec407a;  
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tarefa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f48fb1; 
}

.tarefa-item button {
    background-color: #f06292;  
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

